.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background: hsl(0deg 0% 0% / 0.5);
  z-index: 1000;
}

.wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  z-index: 1001;
  padding: 16px;
  pointer-events: none;
}

.modal {
  position: relative;
  pointer-events: auto;
}
