/* CSS Variables */
html {
  --cetacean-blue: #080052;
  --pink-gradient: linear-gradient(to right, #f638b0, #9d156b);
  --pink-gradient-hover: #9d156b;
  --pink-border: rgba(147, 24, 102, 0.25);
  --blue-gradient: linear-gradient(to right, #0293d3, #00628d);
  --blue-gradient-hover: #00628d;
  --blue-border: #005276;
  --dark-blue: #201773;
  --dark-blue-border: rgba(9, 6, 43, 0.25);
  --cobalt-blue: #372d8e;
  --cobalt-blue-hover: #6259af;
}

/* Typography */
* {
  font-family: "Baloo 2", sans-serif;
}

body {
  background-color: var(--cetacean-blue);
  color: white;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
